<script>
    import {closeModal} from "./Modal.svelte";
    import {priorities} from "./utils";

    export let id = undefined;

    export let name = '';
    export let priority = 'medium';
    
    export let onSubmit;
</script>

<h2>Not yet implemented</h2>
<div class="buttonRow">
    <button on:click={closeModal}>Okay</button>
</div>
